:root{
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

@font-face {
    font-family: 'Manrope';
    src: url(fonts/Manrope-VariableFont_wght.ttf);
}

body{
    background-color: var(--LightGrayishBlue);
    font-family: 'Manrope';
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.drawersImage{
    height: 17.5rem;
    width: 17.7rem;
    object-fit: cover;
    object-position: left;
}

.textBox{
    height: 17.5rem;
    width: 28.125rem;
    background-color: white;
}

.allText h1{
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 2.5rem;
    color: var(--VeryDarkGrayishBlue);
    font-weight: 800;
}

.allText p{
    font-size: 0.8125rem;
    margin: 0;
    padding: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 1rem;
    color: var(--DesaturatedDarkBlue);
}

.author{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.25rem;
    width: 23rem;
    height: 2.5rem;
    display: grid;
    grid-template-columns: 2.5rem 10rem 10.5rem;
    grid-template-rows: 1.25rem 1.25rem;
}

.authorImage{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    grid-row: 1 / 3;
    grid-column: 1;
}

.authorName{
    margin:0;
    padding:0;
    grid-row: 1;
    grid-column: 2;
    font-size: 0.8125rem;
    color: var(--VeryDarkGrayishBlue);
    font-weight: 800;
    align-self: center;
    padding-left: 0.25rem;
}

.publishedDate{
    margin:0;
    padding:0;
    grid-row: 2;
    grid-column: 2;
    font-size: 0.8125rem;
    color: var(--GrayishBlue);
    font-weight: 500;
    padding: 0.25rem;
    align-self: center;
}

.shareButton{
    height: 2rem;
    width: 2rem;
    border:none;
    border-radius: 50%;
    background-color: var(--LightGrayishBlue);
    grid-column: 3;
    grid-row: 1/3;
    align-self: center;
    justify-self: right;
    
}

#icons {
    visibility: hidden;
    width: 14rem;
    height: 3rem;
    background-color: var(--VeryDarkGrayishBlue);
    color: #fff;
    z-index: 1;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 0.25fr);
    margin:0;
    translate: 15rem -5rem;
    box-shadow: 0 1rem 2rem 0 var(--GrayishBlue);
 }

 #icons::after{
    content: "";
    border-color: transparent transparent var(--VeryDarkGrayishBlue) transparent;
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -11px;
    border-width: 10px;
    border-style: solid;
    transform: rotate(180deg);
    box-shadow: -1rem 1rem 2rem 0 var(--LightGrayishBlue) inset;
 }

 


 #icons p{
    margin:0;
    padding:0;
    color: var(--GrayishBlue);
    letter-spacing: 0.3rem;
    font-size: 0.8125rem;
    grid-column: 1; 
    padding-left: 2rem;
    align-self: center;
    justify-self: center;
 }

 #icons .facebookIcon{
    align-self: center;
    justify-self: center;
    grid-column: 3;
 }
 #icons .twitterIcon{
    align-self: center;
    justify-self: center;
    grid-column: 4;
 }

 #icons .pinterestIcon{
    align-self: center;
    justify-self: center;
    grid-column: 5;
 }

 #icons #shareIcon{
    visibility: hidden;
 }


 @media only screen and (max-width: 26.5625rem){
    body{
        background-color: var(--LightGrayishBlue);
        font-family: 'Manrope';
    }
    
    main{
        display: grid;
        justify-content: center;
        align-items: center;
        height:100vh;
        grid-template-columns: 1;
        grid-template-rows: 2;
    }
    
    .drawersImage{
        height: 13.5rem;
        width: 20.7rem;
        object-fit: cover;
        object-position: top;
        align-self: last baseline;
        justify-self: center;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    
    .textBox{
        height: 17.5rem;
        width: 20.7rem;
        background-color: white;
        align-self: first baseline;
        justify-self: center;
    }
    
    .allText h1{
        font-size: 0.85rem;
        margin: 0;
        padding: 0;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 2.5rem;
        color: var(--VeryDarkGrayishBlue);
        font-weight: 800;
    }
    
    .allText p{
        font-size: 0.8125rem;
        margin: 0;
        padding: 0;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 1rem;
        color: var(--DesaturatedDarkBlue);
    }

    .shareButton{
        height: 2rem;
        width: 2rem;
        border:none;
        border-radius: 50%;
        background-color: var(--LightGrayishBlue);
        grid-column: 3;
        grid-row: 1/3;
        align-self: center;
        justify-self: right;
        translate: -6rem 0;
    }
    
    #icons {
        visibility: hidden;
        width:86%;
        height: 3rem;
        background-color: var(--VeryDarkGrayishBlue);
        color: #fff;
        z-index: 1;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        display: grid;
        grid-template-columns: repeat(6, 0.25fr);
        margin:0;
        translate:  -2.5rem 0rem;
        box-shadow: none;
     }

     #icons::after{
        content: none;
        border-color: transparent transparent var(--VeryDarkGrayishBlue) transparent;
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -11px;
        border-width: 10px;
        border-style: solid;
        box-shadow: none;
     }


   
     #shareIcon{
        align-self: center;
        justify-self: center;
    

        background-image: url('images/Oval.png');
        background-size: 2rem 2rem;
        border-radius: 50%;
     }
    


 }






